.buttonrounded {
  min-width: fit-content;
  max-width: 200px;
  height: 40px;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  border-radius: 20px;
}

.disable {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
}